@import '~@fortawesome/fontawesome-free/css/all.css'; 

body {
      margin: 0;
      padding: 0;
      font-family: Arial, sans-serif;
      background-color: #f0f0f0;
    }
    
    a {
      text-decoration: none;
      color: #2da7d4;
    }
    
    a:hover {
      text-decoration: underline;
    }

  
 .title1 {
    color: #031a29;
 }

 .loader {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 30px;
  
  i {
  font-size: 25px;
  color: #007bff;
}

}